* {
    box-sizing: border-box;
    font-family: "Arial", "Helvetica", sans-serif
}

html {
    font-size: 18px;
}

body {
    max-width: 640px;
    margin: 3rem auto;
    padding: 0 1rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

li {
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

ul,
ol {
    padding-left: 1rem;
}

ol li {
    font-size: 1.5rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: orangered;
} a:hover {
    text-decoration: underline;
} a:visited {
    color: maroon;
}

figure {
    padding: 0;
    margin: 0;
}

img {

}

ul.navigation-links {
    padding: 0;
}

.navigation-links li{
    list-style: none;
}